.custom-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4e4d53;
  border-radius: 0.2rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: var(--scroolColor);
}

@media screen and (min-width: 720px) {
  .custom-scrollbar::-webkit-scrollbar {
    background-color: var(--scroolColor);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
  }
}
